/* table style*/
table{
  width: 100%;
}
#OrderRecordTable{
  background-color: beige;
  border-radius: 20px;
  box-shadow: 0 4px 8px black;
  padding: 1rem;
  margin: 0 15% 0 15%;
  border: 2px solid rgb(7, 7, 7);
  position: fixed;
  width: 70%;
  height: 50%;
  
}
#table_header{
  background-color: rgb(45, 55, 108);
  border: 2px solid rgb(7, 7, 7);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: larger;
  border-radius: 15px;
  position: fixed;
  width: 66%;
  height: 6vh;
  padding: 0.5%;
}
/* th{
  border: 2px solid rgba(7, 7, 7, 0.47);
  border-radius: 10px;
} */
#order_id, td:nth-child(1){
  width: 3%;
}
#product_name, td:nth-child(2){
  width: 19%;
}
#stock_num, td:nth-child(3){
  width: 11%;
}
#unit_price, td:nth-child(4){
  width: 7%;
}
tbody{
  display: block;
  height: 40vh; 
  overflow-y: auto;
  margin-top: 5%;
  margin-right: 2%;
}
td{
  padding: 20px;
  margin: 1rem;
  text-align: center;
  font-size: larger;
  border: 2px solid rgba(7, 7, 7, 0.47);
  border-radius: 10px;
  width: 15%;
}