#orderChartContainer{
  gap: 2.5rem;
}
#OrderRecordTable{
  background-color: beige;
  border-radius: 20px;
  padding: 1rem;
  margin: 0 15% 0 15%;
  overflow-y: auto;
  border: 2px solid rgb(7, 7, 7);
}
#search_container{
    margin: 0 0 0 15%;
    display: flex;
    justify-items: left;
}
#search_container input{
    width: 30vw;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #838383;
}
#search{
    padding: 10px;
    margin: 5px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(120, 123, 139);
}


