/* graph style */
#salesChartContainer{
  gap: 2.5rem;
}

.chart{
  position: relative;
  background-color: #e0f2ff;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  width: 43rem;
  height: 22.5rem;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 1px 4px 8px black;
}
.shadow{
  box-shadow: 1px 4px 8px black;
}
#salesLedgend{
  background-color: #838383;
  width: 20vw;
  border-radius: 20px;
  padding: 1rem;
}

#myChart{
  height: 100%;
}