.hero {
    background: linear-gradient(to right, #2b607b, #204c55);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 20px;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 20px auto;
}

footer {
    background: #111;
    color: #ccc;
}

.card {
    background: #f8f9fa;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}