#signupForm{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 13vh 30vw 0 30vw; 
    padding: 1%;
    border-radius: 20px;
    height: max-content;
}
#signupForm a{
    background-color: rgba(207, 193, 193, 0.76);
    color: black;
    font-weight: lighter;
    padding: 2% 3% 2% 3%;
    border-radius: 10px;
    margin: 0 0 0 46%;
    
}
#signupFormContainer{
    display: flex;
}
#signupForm label,input{
    color: black;
    font-weight: lighter;
}
#signupFormContainer input{
    width: 140%;
    background-color: #8383836b;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #838383;
}
.addmargin{
    margin-left: 5%;
}
.addmargin2{
    margin-left: 15%;
}
#submitForm{
    background-color: rgb(50, 74, 212);
    color: white;
    font-size: large;
    cursor: pointer;   
    padding: 2%;
    border-radius: 10px; 
    width: 50%;
    margin: 0 0 0 27%;
}
